{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

    <h3>💳 Payment for Order #{{ order.id }}</h3>
    <p>Total: Rp {{ order.total_price }}</p>

    <form method="POST">
        {% csrf_token %}

        <label class="mt-3">Payment Method</label>
        <select name="method" class="form-control">
            <option value="cash">Cash</option>
            <option value="ewallet">E-Wallet</option>
            <option value="transfer">Bank Transfer</option>
        </select>

        <button class="btn btn-primary mt-4">Confirm Payment</button>
    </form>

</div>

{% endblock %}
